.movie__detail{
    padding:30px;

    &__btn{
        padding:5px 20px ;
        font-size: 18px;
        text-decoration: none;
        background-color:white;
        color:black;
        border:none;
        border-radius: 3px;
        
        &:hover{
            color:white;
            background-color: black;
            transition: all .25s ease-in-out;
        }
    }
    &__img{
        border-radius: 10px;
        width: 260px;
        @media screen and (min-width:480px) {
            width:360px;
        }
        
    }
    &__container{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap:30px;
        padding:20px 0 ;

        @media screen and (min-width:768px) {
            flex-direction: row;
        }
    }
    &__nav{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}